.div1{
    
 background-color: lightgrey;
 
  border: 5px solid black;
  padding: 50px;
  margin: 20px;
}

.div2{
    
    background-color: lightgrey;
     
     border: 5px solid black;
     padding: 50px;
     margin: 20px;
   }